<%: func AdminCreatePostPage(messages []string, categories []Model.Category, w io.Writer) %>

<%~ "layer.html" %>

<%@ body { %>

<div class="card" style="width: 100%">
    <div class="card-header">
        <h2>پست جدید</h2>
    </div>
    <div class="card-body">
        <form action="/admin/createarticle" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label class="control-label">عنوان</label>
                <input class="form-control" name="title"/>
            </div>
            <div class="form-group">
                <label for="selectGroup">انتخاب گروه</label>
                <select class="form-control" id="selectGroup" name="CatID">
                    <% for _,value:=range categories { %>
                    <option value="<%=u value.ID %>"><%= value.Name %></option>
                    <% } %>
                </select>
            </div>
            <div class="form-group">
                <label class="control-label">توضیح کوتاه</label>
                <textarea class="form-control" name="ShortDesc"></textarea>
            </div>
            <div class="form-group">
                <label class="control-label">توضیح کامل </label>
                <script src="/static/js/ckeditor/ckeditor.js"></script>
                <textarea class="form-control" id="editor" name="LongDesc"></textarea>
                <script>
                    CKEDITOR.addCss('.cke_editable { font-size: 15px; padding: 2em; }');
                    CKEDITOR.replace('editor', {
                        contentsLangDirection: 'ltr',
                        extraAllowedContent: 'h3{clear};h2{line-height};h2 h3{margin-left,margin-top}',
                        // Adding drag and drop image upload.
                        extraPlugins: 'print,format,font,colorbutton,uploadimage,codesnippet',
                        codeSnippet_theme: 'monokai_sublime',
                        // Configure your file manager integration. This example uses CKFinder 3 for PHP.
                        filebrowserUploadMethod : 'form',
                        filebrowserUploadUrl: '/admin/upload',
                        filebrowserImageUploadUrl: '/admin/upload',

                        height: 560,

                        removeDialogTabs: 'image:advanced;link:advanced'
                    });
                </script>
            </div>
            <div class="form-group">
                <label class="control-label" onclick="myFunction()">تصویر پست</label>
                <input type="file" id="myFile" name="myFile"/>
            </div>


            <div class="form-group">
                <input type="submit" value="ایجاد" class="btn btn-success"/>
            </div>
        </form>
    </div>
    <% if len(messages)!=0{ %>
    <div class="card-footer">
        <% for _,value:=range messages { %>
        <h6 class="text-danger"><%= value %></h6>
        <% } %>
    </div>
    <% } %>
    <div>
        <a href="/admin/articles" class="btn btn-primary">بازگشت به لیست</a>
    </div>
</div>

<% } %>