<%: func AdminEditPostHandler(messages []string, categories []Model.Category, article Model.Article, w io.Writer) %>

<%~ "layer.html" %>

<%@ body { %>

<div class="card" style="width: 100%">
    <div class="card-header">
        <h2>ویرایش پست</h2>
    </div>
    <div class="card-body">
        <form action="/admin/editarticle/<%=u article.ID %>" method="post" enctype="multipart/form-data">
            <input name="articleId" type="hidden" value=<%=u article.ID %> class="form-control" />
            <input name="oldImageName" type="hidden" value=<%= article.Image %> class="form-control" />
            <div class="form-group">
                <label class="control-label">عنوان</label>
                <input class="form-control" name="title" value="<%= article.Title %>"/>
            </div>
            <div class="form-group">
                <label for="selectGroup">انتخاب گروه</label>
                <select class="form-control" id="selectGroup" name="CatId" value="<%=u article.CatId %>">
                    <% for _,value:=range categories { %>
                    <% if(value.ID==article.CatId){ %>
                    <option value="<%=u value.ID %>" selected><%= value.Name %></option>
                    <% } else{ %>
                    <option value="<%=u value.ID %>"><%= value.Name %></option>
                    <% } %>
                    <% } %>
                </select>
            </div>
            <div class="form-group">
                <label class="control-label">توضیح کوتاه</label>
                <textarea class="form-control" name="ShortDesc"><%=s article.ShortDesc %></textarea>
            </div>
            <div class="form-group">
                <label class="control-label">توضیح کامل </label>
                <textarea class="form-control" id="editor" name="LongDesc"><%=s article.LongDesc %></textarea>
            </div>
            <div class="form-group">
                <img class="img-thumbnail img-fluid" src="/static/img/<%= article.Image %>"
                     style="height: 250px;width: 250px">
            </div>
            <div class="form-group">
                <label class="control-label">تصویر پست</label>

                <input type="file" name="myFile"/>
            </div>

            <div class="form-group">
                <input type="submit" value="تغییر" class="btn btn-success"/>
            </div>
        </form>
    </div>
    <% if len(messages)!=0{ %>
    <div class="card-footer">
        <% for _,value:=range messages { %>
        <h6 class="text-danger"><%= value %></h6>
        <% } %>
    </div>
    <% } %>
    <div>
        <a href="/admin/articles" class="btn btn-primary">بازگشت به لیست</a>
    </div>
    <script src="/static/js/ckeditor/ckeditor.js"></script>

    <script>
        CKEDITOR.addCss('.cke_editable { font-size: 15px; padding: 2em; }');
        CKEDITOR.replace('editor', {
            contentsLangDirection: 'ltr',
            extraAllowedContent: 'h3{clear};h2{line-height};h2 h3{margin-left,margin-top}',
            // Adding drag and drop image upload.
            extraPlugins: 'print,format,font,colorbutton,uploadimage,codesnippet',
            codeSnippet_theme: 'monokai_sublime',
            // Configure your file manager integration. This example uses CKFinder 3 for PHP.
            filebrowserUploadMethod: 'form',
            filebrowserUploadUrl: '/admin/upload',
            filebrowserImageUploadUrl: '/admin/upload',

            height: 560,

            removeDialogTabs: 'image:advanced;link:advanced'
        });
    </script>
</div>
<% } %>