<%: func AdminPostListPage(articles []Model.Article, w io.Writer) %>

<%~ "layer.html" %>

<%@ body { %>

<div class="col-12 col-md-8 ">
    <p>
        <a href="/admin/createarticle" class="btn btn-success">پست جدید</a>
    </p>
    <table class="table">
        <thead>
        <td>تصویر</td>
        <td>عنوان پست</td>
        <td>عملیات</td>
        </thead>
        <tbody>
        <% for _, a := range articles { %>
        <tr>
            <td><img class="img-thumbnail img-fluid" src="/static/img/<%= a.Image %>"
                     style="height: 100px;width: 100px"></td>
            <td><%=s a.Title %></td>
            <td>
                <a href="/admin/editarticle/<%=u a.ID %>" class="btn btn-warning">ویرایش</a> |
                <a href="/admin/deletearticle/<%=u a.ID %>"  class="btn btn-danger">حذف</a>
            </td>
        </tr>
        <% } %>
        </tbody>
    </table>
</div>
<% } %>