<%: func IndexPage(categoryList []Model.Category , articleList []Model.Article, w io.Writer) %>

<%~ "./layer.html" %>

<%!
import (
"../../Model"
"fmt"
"../../Util"
)
%>

<%@ body { %>
    <div class="col-12 col-md-4 ">

        <div class="card">
            <div class="card-header">
                دسته بندی ها
            </div>
            <ul class="list-group list-group-flush text-primary p-0">
                <% for _, category := range categoryList { %>
                <li class="list-group-item">
                    <a class="text-primary" href="/cat/<%=i category.ID %>"><%= category.Name %></a>
                </li>
                <% } %>

            </ul>
        </div>
    </div>
    <div class="col-12 col-md-8 ">
        <% for _,article := range articleList { %>
        <div id="content">
            <div class="card mb-4 ">
                <div class="card-body text-primary">
                    <h4><%= article.Title %></h4>
                    <hr>
                    <img class="img-fluid img-thumbnail mx-auto d-block" src="/static/img/1.jpg" alt="">
                    <p class="text-medium text-justify">
                        <%= article.ShortDesc %>
                    </p>
                    <hr>
                    <div class="row">
                        <div class="text-medium col">
                            <span><%= util.ToPersianDate(article.CreatedAt) %></span>
                        </div>
                        <div class="col">
                            <a href="/post/<%=i article.ID %>" class="btn btn-sm btn-outline-primary float-left">ادامه
                                مطلب</a>
                        </div>

                    </div>

                </div>
            </div>
        </div>
        <% } %>
        <ul class="pagination mx-auto text-primary">

            <li class="page-item active">
                <a class="page-link" asp-action="Index" asp-route-pageId="1">1</a>
            </li>

            <li class="page-item">
                <a class="page-link" asp-action="Index" asp-route-pageId="@(Model.PageCount)">2</a>
            </li>
            <li class="page-item">
                <a class="page-link" asp-action="Index" asp-route-pageId="@(Model.PageCount)">3</a>
            </li>
            <li class="page-item">
                <a class="page-link" asp-action="Index" asp-route-pageId="@(Model.PageCount)">4</a>
            </li>

        </ul>

    </div>


<% } %>