<!DOCTYPE html>

<html lang="fa">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>بلاگ</title>
    <link rel="stylesheet" href="/static/assets/dist/css/bootstrap.min.1.css"/>
    <link rel="stylesheet" href="/static/css/customCss.css"/>
    <link href="/static/js/ckeditor/plugins/codesnippet/lib/highlight/styles/default.css" rel="stylesheet">
    <script src="/static/js/ckeditor/plugins/codesnippet/lib/highlight/highlight.pack.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>

</head>

<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light ">
    <a class="navbar-brand text-primary" href="/"> بلاگ من</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/">خانه <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="Home" asp-action="Contact">تماس با ما</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="Home" asp-action="About">درباره ما</a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    دسته بندی ها
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                    <a class="dropdown-item" href="">دسته بندی</a>
                    <a class="dropdown-item" href="">دسته بندی</a>
                    <a class="dropdown-item" href="">دسته بندی</a>

                </div>
                <!-- </li> -->
        </ul>
        <form id="searchForm" asp-controller="Search" asp-action="Search" method="get"
              class="form-inline my-2 my-lg-0 ">
            <input class="form-control text-primary mr-sm-2 mr-5" name="search" type="search" placeholder="جستجو"
                   aria-label="Search">
            <input id="pageId" name="pageId" value="1" type="hidden">
            <button class="btn btn-outline-primary my-2 my-sm-0 mr-5" type="submit">جستجو</button>
        </form>
    </div>
</nav>
<div class="container">

    <div class="row mt-4">
        <%@ body { %>
        <% } %>
    </div>

</div>
<script src="/static/js/jquery-3.3.1.min.js/"></script>
<script src="/static/js/popper.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/bootstrap.bundle.min.js"></script>
<script src="/BolgProject/Static/js/ckeditor/ckeditor.js"></script>
</body>
</html>