<%: func SinglePage(article Model.Article, w io.Writer) %>

<%~ "layer.html" %>

<%@ body { %>
<div class="container">

    <div class="row mb-6">
        <div class="col-12 col-md-12 ">
            <div id="content">
                <div class="card mt-4 ">
                    <div class="card-body text-primary">

                        <div class="row">
                            <div class="col-9">
                                <h4><%== article.Title %></h4>
                            </div>
                            <div class="col-3">
                                <span><%= util.ToPersianDate(article.CreatedAt) %></span>
                            </div>
                        </div>
                        <hr class="mt-0">
                        <img class="img-fluid img-thumbnail mx-auto d-block" src="/static/img/1.jpg" alt="">
                        <br>
                        <div id="contentDiv">
                            <p class="text-medium text-justify">
                                <%== article.LongDesc %>
                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<% } %>