<%: func AdminCategoryListPage(categories []Model.Category, w io.Writer) %>

<%~ "layer.html" %>

<%@ body { %>

<%+ "layer.html" %>

<div class="col-12 col-md-8 ">
    <div class="card">
        <div class="card-header">
            لیست دسته بندی ها
        </div>
        <div class="card-body">
        <p>
            <a href="/admin/addcategory" class="btn btn-success">دسته بندی جدید</a>
        </p>
        <table class="table">
            <thead>
                <td>عنوان</td>
                <td>عنوان انگلیسی</td>
                <td>عملیات</td>
            </thead>
            <tbody>
                <% for _, c := range categories { %>
                <tr>
                    <td><%=s c.Name %></td>
                    <td><%=s c.EngName %></td>
                    <td>
                        <a href="/admin/editcategory/<%=u c.ID %>" class="btn btn-warning">ویرایش</a> |
                        <a href="/admin/deletecategory/<%=u c.ID %>" class="btn btn-danger">حذف</a>
                    </td>
                </tr>
                <% } %>
            </tbody>
        </table>
    </div>
    </div>


</div>
<% } %>