<%: func AdminEditCategoryPage(messages []string,category Model.Category, w io.Writer) %>

<%~ "layer.html" %>

<%@ body { %>

<div class="col-12 col-md-8">
    <div class="card">
        <div class="card-header">
            <h2>ویرایش گروه</h2>
        </div>
        <div class="card-body">

            <form action="/admin/editcategory/<%=u category.ID %>" method="post" enctype="multipart/form-data">
                <input name="groupId" type="hidden" value=<%=u category.ID %> class="form-control" />
                <div class="form-group">
                    <label class="control-label"></label>
                    <input name="title" class="form-control" value=<%= category.Name %> />
                </div>
                <div class="form-group">
                    <label class="control-label"></label>
                    <input name="enTitle" class="form-control" value=<%= category.EngName %> />
                </div>
                <div class="form-group">
                    <input type="submit" value="ویرایش " class="btn btn-success"/>
                </div>
            </form>
        </div>
        <% if len(messages)!=0{ %>
        <div class="card-footer">
            <% for _,value:=range messages { %>
            <h6 class="text-danger"><%= value %></h6>
            <% } %>
        </div>
        <% } %>
        <div>
            <a href="/admin/categories" class="btn btn-primary">بازگشت به لیست</a>
        </div>
    </div>
</div>
<% } %>